---
name: "yamllint"

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: [master]
    paths:
      - '**.yaml'
      - '**.yml'

jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: yamllint
        uses: reviewdog/action-yamllint@v1
        with:
          fail_level: any
          filter_mode: nofilter
